
body {
    background-color: #F8D8BB
}

h1, h3 {
    font-family: 'Nunito', sans-serif;
    color: #7C6C5D;
}



.description {
    width: 600px
}

.left, .right {
    float: left;
    width: 600px;

}

.right {
    margin-left: 30px;
}